html
    header
        div 
            a(href="/") Главная 
        div 
            a(href="/championsLeaque") Победители Лиги Чемпионов
        div 
            a(href="/worldChampions") Победители Чемпионата Мира
        div 
            a(href="/goldenballs") Обладатели Золотого Мяча
        div 
            a(href="/goldenboots") Лучшие бомбардиры
        div 
            a(href="/europeanPlayers") Лучшие игроки Европы   

    block content 

    footer 
        div 
            span Контакты: 8(999) 023-78-99
        div 
            span Адрес: ул. Мира д.8, Санкт-Петербург  